<div id="header">
        
    <%= image_tag "logo.png" %> 
        <hr class="noscreen" />   
          
        <div id="navigation">
        <ul>
          <li id="first"><%= link_to "Home", root_path %></li>
          <li><%= link_to "Logout", logout_path %></a></li>
         
        </ul>
        </div>
        <hr class="noscreen" />  
    
      </div>
          
        <div id="main">
        
        <div id="main-box">
        <!--<div id="quote">Now every field is clothed with grass, and every tree with leaves; now the woods put forth their blossoms, and the year assumes its gay attire. ~Virgil</div>-->
        </div>
        
        <div id="content">
        <center>
    <h2>
    <b>Announcements:</b> There will be no school on Monday, March 31st, 2014.
</h2>
</center> 